In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import KFold
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit, cross_val_score, KFold, GridSearchCV, StratifiedKFold
from sklearn.metrics import balanced_accuracy_score, auc, mean_squared_error, roc_curve, confusion_matrix, precision_score, recall_score, f1_score,\
log_loss, roc_auc_score
import gc

/Applications/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:48: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
test = pd.read_csv("test.csv", sep=',')
train = pd.read_csv("train.csv", sep = ',', index_col=[0])
submission = pd.read_csv("submission.csv", sep=',',index_col=[0])

In [3]:
print(test.shape, submission.shape)

(24000, 51) (24000, 2)

In [4]:
train.head()
#test.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
0,Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.000,0.0,10689720.0,252072.0,4272776.0,...,0.392854,2.02,0.711632,0.0,0.0,charge,NaN,1.129518,0.044335,no
1,Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.000,0.0,898979.0,497531.0,9073814.0,...,0.314281,8.08,0.183584,NaN,0.0,charge,349.805730,1.620483,0.322436,no
2,Apcnt_1000008,3276.0,0.53845,3.1510,0.0,6.282,NaN,956940.0,NaN,192944.0,...,0.162965,18.18,0.791136,0.0,0.0,charge,NaN,1.513370,0.011640,yes
3,Apcnt_1000012,3372.0,0.17005,0.5050,0.0,0.000,192166.0,3044703.0,385499.0,3986472.0,...,0.488884,2.02,0.685168,NaN,0.0,charge,89.940100,0.664452,0.082729,no
4,Apcnt_1000016,3370.0,0.77270,1.1010,0.0,0.000,1556.0,214728.0,214728.0,1284089.0,...,0.275000,12.12,0.438168,0.0,0.0,charge,97.887502,1.427891,0.045630,no

In [5]:
test.head()

,Applicant_ID,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
0,Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,charge,NaN,0.000000,0.011221
1,Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,lending,NaN,0.504974,0.043525
2,Apcnt_1000052,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,charge,NaN,0.000000,NaN
3,Apcnt_1000076,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,...,NaN,0.916663,2.02,0.464224,NaN,NaN,charge,90.163742,0.788809,0.104029
4,Apcnt_1000080,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,...,NaN,0.234047,23.23,0.726688,0.0,0.0,lending,1303.587148,1.637733,0.163124

In [6]:
# Convert ff47 and ff50 categorical variables to 0 and 1
new_train = pd.get_dummies(train, columns=['form_field47','default_status'])
# Drop duplicate columns
train_drop = new_train.drop(['form_field47_lending','default_status_yes'], axis=1)

In [7]:
# Convert ff47 and ff50 categorical variables to 0 and 1
new_test = pd.get_dummies(test, columns=['form_field47'])
# Drop duplicate columns
test_drop = new_test.drop(['form_field47_lending'], axis=1)

In [8]:
columns_new = {"form_field1":'Creditworthiness_score',
           "form_field2":'CreditEnquiredRisk',
        "form_field3":'LoanDefaultSeverityAll',
           "form_field4":'LoanDefaultSeverityAuto',
                                            "form_field5":'LoanDefaultSeverityEdu',
           "form_field6":'MinCreditAvailAfterPayments',
                                            "form_field7":'MaxCreditAvailActiveAll',
           "form_field8":'MaxCreditAvailAfterPayments',
           "form_field9":'SumOfAvailCreditMissed1Pay',
                                            "form_field10":'TotalCreditAvailActiveAll',
           "form_field11":'PostDefaultDuesCollectedA500',
                                            "form_field12":'TotalDueActive',
           "form_field13":'AllAnnualPaidPreviousYear',
                                            "form_field14":'AnnualIncome',
           "form_field15":'PropertyMarketValue',
                                            "form_field16":'NumActiveCCardsPaidOffFullCreditUsed',
           "form_field17":'NumActiveCCardsFullCreditUsed',
                                            "form_field18":'NumActiveFullCLinesFullCreditUsed',
           "form_field19":'NumActiveCCards75pCreditUsed',
                                            "form_field20":'NumActiveCLines75pCreditUsed',
           "form_field21":'%AverageUseOfCCardLoans',
                                            "form_field22":'%AverageUseOfCLines2Yrs',
           "form_field23":'%AverageUseOfCCards1Yr',
                                            "form_field24":'%AverageUseOfCLines6MoMiss1',
           "form_field25":'AverageTenureofActiveRevolveCardsinDays',
                                            "form_field26":'TenureofOldestCCardsinDays',
           "form_field27":'TenureofOldestRevolvingCCardsinDays',
                                            "form_field28":'NumOfDaysonlastmissedCLine',
           "form_field29":'TenureofOldestCLineinDays',
                                            "form_field30":'MaxTenureonAutoLoansinDays',
           "form_field31":'MaxTenureonEduLoansinDays',
                                            "form_field32":'SumTenureonActiveCCardsinMonth',
           "form_field33":'SumTenureonActiveCLinesinMonth',
                                            "form_field34":'NumOfCLineslast6MoMiss1', 
           "form_field35":'NumOfRevolveCCardslast2YrMiss1',
                                            "form_field36":'NumActiveCLines',
           "form_field37":'NumCCardsActiveTenure2Yrs',
                                            "form_field38":'ActivatedCLinesinlast2Yrs',
           "form_field39":'NumActiveCLinesDeliquent',
                                            "form_field40":'%UseCLinesonEduLoan',
           "form_field41":'%UseCLinesonAutoLoan',
                                            "form_field42":'FinanceStressIndex',
           "form_field43":'NumberCLinesPaidHighRisk',
                                            "form_field44":'DebtRatio1Max',
           "form_field45":'NumOfHomeLoansMissed2x',
                                            "form_field46":'NumOfAutoLoansMissed2x',
           "form_field50":'DebtRatio1Min',
                                            'form_field47_charge': 'ProductApplicatn', 
           'default_status_no': 'default_status'}

In [9]:
train_drop = train_drop.rename(columns = columns_new)
test_drop = test_drop.rename(columns = columns_new)

In [10]:
#train_2 = pd.read_csv("train.csv", sep = ',', index_col=[0])

In [11]:
#train_2.head()

In [12]:
test_drop.head()

,Applicant_ID,Creditworthiness_score,CreditEnquiredRisk,LoanDefaultSeverityAll,LoanDefaultSeverityAuto,LoanDefaultSeverityEdu,MinCreditAvailAfterPayments,MaxCreditAvailActiveAll,MaxCreditAvailAfterPayments,SumOfAvailCreditMissed1Pay,...,%UseCLinesonAutoLoan,FinanceStressIndex,NumberCLinesPaidHighRisk,DebtRatio1Max,NumOfHomeLoansMissed2x,NumOfAutoLoansMissed2x,form_field48,form_field49,DebtRatio1Min,ProductApplicatn
0,Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,NaN,0.000000,0.011221,1
1,Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,NaN,0.504974,0.043525,0
2,Apcnt_1000052,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.000000,NaN,1
3,Apcnt_1000076,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,...,NaN,0.916663,2.02,0.464224,NaN,NaN,90.163742,0.788809,0.104029,1
4,Apcnt_1000080,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,...,NaN,0.234047,23.23,0.726688,0.0,0.0,1303.587148,1.637733,0.163124,0

In [13]:
target = train_drop[['default_status']]

In [14]:
#train_2.head()

In [15]:
rand = 40
fold = KFold(n_splits= 5, shuffle= True, random_state= rand)

from lightgbm import LGBMClassifier

#model = LGBMClassifier(n_estimators = 1500, learning_rate = 0.01,  reg_lambda = 30, random_state = rand,\
                             #feature_fraction = 0.4, num_leaves = 20, max_depth = 20, split = 'gain', \
                              #boosting = 'gbdt')

#model = LGBMClassifier(n_estimators = 1500, learning_rate = 0.01,  reg_lambda = 30, random_state = rand,\
                             #feature_fraction = 0.4, num_leaves = 20, max_depth = 20, split = 'gain', \
                              #boosting = 'gbdt')
model = LGBMClassifier(n_estimators=1100,
        learning_rate=0.01,
        reg_lambda=10)

train_d = train_drop.drop(['default_status', 'Applicant_ID'], axis=1)
cross = cross_val_score(model, train_d, target, cv = fold, scoring = 'roc_auc')
print(cross.mean())

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.8391337323017188

In [16]:
#test_drop.head()

In [17]:
import lightgbm as lgb

#Training the model

model.fit(train_d, target,  categorical_feature = ['ProductApplicatn'])


#Test set predictions
test_d = test_drop.drop(['Applicant_ID'], axis=1)
pred = model.predict_proba(test_d)[:,1]

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
/Applications/anaconda3/lib/python3.7/site-packages/lightgbm/basic.py:1247: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['ProductApplicatn']
  'New categorical_feature is {}'.format(sorted(list(categorical_feature))))

In [18]:
test_d.head()

,Creditworthiness_score,CreditEnquiredRisk,LoanDefaultSeverityAll,LoanDefaultSeverityAuto,LoanDefaultSeverityEdu,MinCreditAvailAfterPayments,MaxCreditAvailActiveAll,MaxCreditAvailAfterPayments,SumOfAvailCreditMissed1Pay,TotalCreditAvailActiveAll,...,%UseCLinesonAutoLoan,FinanceStressIndex,NumberCLinesPaidHighRisk,DebtRatio1Max,NumOfHomeLoansMissed2x,NumOfAutoLoansMissed2x,form_field48,form_field49,DebtRatio1Min,ProductApplicatn
0,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,0.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,NaN,0.000000,0.011221,1
1,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,18308285.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,NaN,0.504974,0.043525,0
2,NaN,0.27505,0.0600,0.0000,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.000000,NaN,1
3,3232.0,0.28505,2.8032,0.0000,0.0,0.0,473802.0,473802.0,1724437.0,493641.0,...,NaN,0.916663,2.02,0.464224,NaN,NaN,90.163742,0.788809,0.104029,1
4,3466.0,2.09545,0.8318,2.5182,0.0,19839.0,1150662.0,1150662.0,7860523.0,5752921.0,...,NaN,0.234047,23.23,0.726688,0.0,0.0,1303.587148,1.637733,0.163124,0

In [19]:
submissions = pd.DataFrame()
submissions['Applicant_ID'] = test_drop['Applicant_ID']

In [20]:
submissions['default_status'] = pred


submissions.to_csv('submission_10.csv', index=False, float_format='%.8f')

In [21]:
submissions.head()

    Applicant_ID  default_status
0  Apcnt_1000032        0.673481
1  Apcnt_1000048        0.618337
2  Apcnt_1000052        0.628337
3  Apcnt_1000076        0.256066
4  Apcnt_1000080        0.880586